<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:icon="@mipmap/ic_launcher">

        <activity
            android:name="at.bitfire.davdroid.ui.EarnBadgesActivity"
            android:exported="false"
            android:label="@string/earn_badges"
            android:parentActivityName=".ui.account.AccountActivity"/>

        <!-- AppAuth login flow redirect -->
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="at.bitfire.davdroid" android:path="/oauth2/redirect"/>
            </intent-filter>
        </activity>

    </application>

</manifest>