version: 2
updates:
  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    # You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "[CI] "
    groups:
      ci-actions:
        patterns: ["*"]
        
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      lib-dependencies:
        patterns: ["*"]
    ignore:
      # kotlin and ksp must be aligned and should only be updated together and manually
      - dependency-name: "kotlin"
      - dependency-name: "ksp"
