[submodule "dav4jvm"]
	path = dav4jvm
	url = ../dav4jvm.git
[submodule "ical4android"]
	path = ical4android
	url = ../ical4android.git
[submodule "vcard4android"]
	path = vcard4android
	url = ../vcard4android.git
[submodule "cert4android"]
	path = cert4android
	url = ../cert4android.git
