<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright © All Contributors. See LICENSE and AUTHORS in the root directory for details.
  -->

<!-- TODO: Remove file once the new Push Settings screen is used to replace the old Push settings UI -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        android:installLocation="internalOnly">

    <application>

        <activity
                android:label="Push Settings"
                android:name=".ui.push.PushSettingsActivity"
                android:parentActivityName=".ui.AppSettingsActivity"
                android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>