<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright © All Contributors. See LICENSE and AUTHORS in the root directory for details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        android:installLocation="internalOnly">

    <application android:name=".App">

        <!-- Required for Hilt/WorkManager integration. See
        - https://developer.android.com/develop/background-work/background-tasks/persistent/configuration/custom-configuration#remove-default
        - https://developer.android.com/training/dependency-injection/hilt-jetpack#workmanager
        However, we must not disable AndroidX startup completely, as it's needed by other libraries like okhttp. -->
        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                android:exported="false"
                tools:node="merge">
            <meta-data
                    android:name="androidx.work.WorkManagerInitializer"
                    android:value="androidx.startup"
                    tools:node="remove" />
        </provider>

        <provider
                android:name="at.bitfire.davdroid.webdav.DavDocumentsProvider"
                android:authorities="${webdavAuthority}"
                android:exported="true"
                android:grantUriPermissions="true"
                android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <!-- provider to share debug info/logs -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${debugInfoAuthority}"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/debug_paths" />
        </provider>

    </application>

</manifest>