<!--
  ~ Copyright © All Contributors. See LICENSE and AUTHORS in the root directory for details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!-- AppAuth login flow redirect -->
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="at.bitfire.davdroid" android:path="/oauth2/redirect"/>
            </intent-filter>
        </activity>

    </application>

</manifest>