name: Dependency Submission

on:
  push:
    branches: [ 'main-ose' ]

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 21

    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v5
      with:
        cache-encryption-key: ${{ secrets.gradle_encryption_key }}
        dependency-graph-exclude-configurations: '.*[Tt]est.* .*[cC]heck.*'
