name: Create release
on:
  push:
    tags:
      - v*

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

env:
  java-version: 21
  prerelease: ${{ contains(github.ref_name, '-alpha') || contains(github.ref_name, '-beta') || contains(github.ref_name, '-rc') }}

jobs:
  build:
    name: Create release
    permissions:
      contents: write
      discussions: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ env.java-version }}
      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.gradle_encryption_key }}

      - name: Prepare keystore
        run: echo ${{ secrets.android_keystore_base64 }} | base64 -d >$GITHUB_WORKSPACE/keystore.jks

      - name: Build signed package
        # don't use build cache to guarantee deterministic, fresh builds
        run: ./gradlew --no-build-cache --configuration-cache --no-daemon app:clean app-ose:assembleRelease
        env:
          ANDROID_KEYSTORE: ${{ github.workspace }}/keystore.jks
          ANDROID_KEYSTORE_PASSWORD: ${{ secrets.android_keystore_password }}
          ANDROID_KEY_ALIAS: ${{ secrets.android_key_alias }}
          ANDROID_KEY_PASSWORD: ${{ secrets.android_key_password }}

      - name: Create Github release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: ${{ env.prerelease }}
          files: app-ose/build/outputs/apk/ose/release/*.apk
          fail_on_unmatched_files: true
          generate_release_notes: true
