name: Create release
on:
  push:
    tags:
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  prerelease: ${{ contains(github.ref_name, '-alpha') || contains(github.ref_name, '-beta') || contains(github.ref_name, '-rc') }}

jobs:
  build:
    name: Create release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - uses: gradle/gradle-build-action@v2

      - name: Use app/build and gradle configuration cache
        uses: actions/cache/restore@v3
        with:
          key: app_build-tests-without-emulator
          path: |
            .gradle/configuration-cache
            app/build

      - name: Prepare keystore
        run: echo ${{ secrets.android_keystore_base64 }} | base64 -d >$GITHUB_WORKSPACE/keystore.jks
      - name: Build signed package
        # --no-configuration-cache is only required for AboutLibraries (bitfireAT/davx5#263, mikepenz/AboutLibraries#857)
        # Remove it as soon as AboutLibraries is compatbile with the gradle configuration cache.
        run: ./gradlew --no-configuration-cache --no-daemon app:assembleRelease
        env:
          ANDROID_KEYSTORE: ${{ github.workspace }}/keystore.jks
          ANDROID_KEYSTORE_PASSWORD: ${{ secrets.android_keystore_password }}
          ANDROID_KEY_ALIAS: ${{ secrets.android_key_alias }}
          ANDROID_KEY_PASSWORD: ${{ secrets.android_key_password }}

      - name: Create Github release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: ${{ env.prerelease }}
          files: app/build/outputs/apk/ose/release/*.apk
          fail_on_unmatched_files: true
