name: Development tests
on:
  push:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  is_main_branch: ${{ github.ref == 'refs/heads/dev-ose' }}

jobs:
  test:
    name: Tests without emulator
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: gradle/actions/setup-gradle@v3
        with:
          cache-encryption-key: ${{ secrets.gradle_encryption_key }}
          cache-write-only: ${{ env.is_main_branch }}     # otherwise build cache will grow larger and larger

      - name: Create app/build and gradle configuration cache
        if: ${{ env.is_main_branch }}
        uses: actions/cache@v4
        with:
          key: app_build-tests-without-emulator-${{ github.run_id }}
          path: |
            .gradle/configuration-cache
            app/build
      - name: Use app/build and gradle configuration cache
        if: ${{ !env.is_main_branch }}
        uses: actions/cache/restore@v4
        with:
          key: app_build-tests-without-emulator
          restore-keys: app_build-tests-without-emulator-   # restore cache from dev branch
          path: |
            .gradle/configuration-cache
            app/build

      - name: Run lint and unit tests
        run: ./gradlew --build-cache --configuration-cache --configuration-cache-problems=warn app:check

  test_on_emulator:
    name: Tests with emulator
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: gradle/actions/setup-gradle@v3
        with:
          cache-encryption-key: ${{ secrets.gradle_encryption_key }}
          cache-write-only: ${{ env.is_main_branch }}     # otherwise build cache will grow larger and larger

      - name: Create app/build and gradle configuration cache
        if: ${{ env.is_main_branch }}
        uses: actions/cache@v4
        with:
          key: app_build-tests-with-emulator-${{ github.run_id }}
          path: |
            .gradle/configuration-cache
            app/build
      - name: Use app/build and gradle configuration cache
        if: ${{ !env.is_main_branch }}
        uses: actions/cache/restore@v4
        with:
          key: app_build-tests-with-emulator
          restore-keys: app_build-tests-with-emulator-   # restore cache from dev branch
          path: |
            .gradle/configuration-cache
            app/build

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Cache AVD
        uses: actions/cache@v4
        with:
          path: ~/.config/.android/avd
          key: avd-${{ hashFiles('app/build.gradle.kts') }}   # gradle-managed devices are defined there

      - name: Run device tests
        run: ./gradlew --build-cache --configuration-cache --configuration-cache-problems=warn app:virtualCheck

